
@{
    ViewBag.Title = "Afisare categorie";
    Layout = "~/Views/Shared/_LayoutEx1.cshtml";
}

<h1>@ViewBag.Category.Name</h1>
@foreach (var product in ViewBag.Products)
{
    <p>@product.Title</p>
    <p>@product.Description</p>
    <p>postat la @product.Date</p>
    <p>@product.Category.Name</p>
    <a href="/Product/Show/@product.ProductId">Afisare produs</a>
    <br />
    <hr />
    <br />
}
<br />

<a href="/Category/Edit/@ViewBag.Category.CategoryId">Modifica categorie</a>
<form method="post" action="/Category/Delete/@ViewBag.Category.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge categorie</button>
</form>

<hr />
<a href="/product/New">Adauga o alta product</a>
<br />
<a href="/Categorie/Index">Inapoi la lista categoriilor</a>
<br />
<a href="/Categorie/New">Adauga o alta categorie</a>
<br />

